package sd.utcn.server.security;

public class Constants {
    public static final String SIGN_UP_URL = "/api/customer";
    public static final String SECRET = "secret";
    public static final Long REFRESH_EXPIRATION_TIME = 1000L * 60 * 30;
    public static final Long ACCESS_EXPIRATION_TIME = 1000L * 60 * 10;
    public static final String SENDGRID_API_KEY="your sendgrid api key";
}
